html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

#map{
  width: 100%;
  height: 100%;
}

#mapContainer{
  width: 100%;
  height: 100%;
}

#searchBar{
  position:absolute;
  top: 0px;
  left: 10px;
  width: calc(100% - 20px);
  margin:10px 0px;
  height: 60px;
  z-index: 300;
}

#routeBtn{
  position:absolute;
  bottom: 150px;
  right: 30px;
  width:70px;
  height:70px;
  z-index:300;
  background-color:#ccc;
  cursor: pointer;
}

#routeBtnGroup{

  position:absolute;
  bottom: 150px;
  right: 250px;
  width:70px;
  height:70px;
  z-index:300;
  background-color:#ccc;
  cursor: pointer;
}

#searchBox{
  height:46px;
  font-size:18px;
  width: 100%;
  float:left;
}

#searchBtn{
  height: 30px;
  width: 50px;
  padding: 2px 15px;
  font-size: 18px;
  background: #4479BA;
  color: #FFF;
  float: left;
}

#searchTable{
  background-color: #fff;
  float:left;
  width: 100%;
}

#searchTable td{
  border-top: #ccc 1px solid;
  width:100%;
  height: 46px;
  cursor:pointer;
  z-index:1030;
}

#searchTable td:hover{
  background-color: #eee;
}