@import 'route';
@import 'search';

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;

  #map {
    width: 100%;
    height: 100%;
  }
  
  .cancelButton {
    width: 40px;
    height: 40px;
    background-color:#fff;
    border: 0;
    display: inline-block;
    float: left;
    &::before {
      content: ' ';
      width: 20px;
      height: 20px;
      display: inline-block;
      background-image: url("./resources/icons.png");
      background-repeat: no-repeat;
      background-size: 160px 20px;
      background-position: -100px 0px;
      margin: 10px;
    }
  }

  .routeButton {
    width: 40px;
    height: 40px;
    background-color:#fff;
    border: 0;
    display: inline-block;
    float: left;
    &::before {
      content: ' ';
      width: 20px;
      height: 20px;
      display: inline-block;
      background-image: url("./resources/icons.png");
      background-repeat: no-repeat;
      background-size: 160px 20px;
      background-position: -40px 0px;
      margin: 10px;
    }
  }

  .searchButton {
    width: calc(100% - 40px);
    height: 40px;
    background-color: #fff;
    float: left;
    &::before {
      content: ' ';
      width: 20px;
      height: 20px;
      display: inline-block;
      background-image: url("./resources/icons.png");
      background-repeat: no-repeat;
      background-size: 160px 20px;
      background-position: 0px 0px;
      margin: 10px;
    }
  }

  .currentLocation.side {
    position:absolute;
    bottom: 100px;
    right: 20px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: 3px;
    padding:6px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #ccc;
  /*  -webkit-box-shadow: 2px 2px 3px 0px rgba(58,58,58,1);
    box-shadow: 2px 2px 3px 0px rgba(58,58,58,1);*/
  }

  .icon-current-location {
    width:48px;
    height:48px;
    background-image: url("./resources/icons.svg");
    background-size: 368px 48px;
    background-position:-184px 0px;
    background-repeat:no-repeat;
  }

  #spinner {
    width:50px;
    height:50px;
    position:absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
  }

  input[type="search"] {
    border-radius: 0;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  input[type="search"]::-webkit-search-decoration::after {
    content: ' ';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("./resources/icons.svg");
    background-repeat: no-repeat;
    background-size: 160px 20px;
    background-position: 0px 0px;
    margin: 10px 5px;
  }

  input[type="search"]::-webkit-search-decoration {
    width: 15px;
    padding-right: 25px;
  }

  input[type="search"]::-webkit-search-cancel-button::after {
    font-family: ratchicons;
    color: #666;
    content: '\e811';
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: icon;
    appearance: icon;
    width: 15px;
    padding-left: 10px;
  }

}