@import 'variables';
@import 'route';
@import 'search';
@import 'locationInfo';

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.temp {
  width: 100%;
  height: 100%;
}
//some default componenets, lost childs.
.container {
  width: 100%;
  height: 100%;

  #map {
    width: 100%;
    height: 100%;
  }

  .errorMessage {
    position: absolute;
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);
    width: 300px;
    background-color:#fff;
    padding: 30px;
  }

  &.default {

    .searchBoxContainer{
      position:absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      background-color: #fff;
    }

    .routeButton {
      width: 40px;
      height: 46px;
      background-color:#fff;
      border: 0;
      display: inline-block;
      float: left;
      &::before {
        content: ' ';
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url("./resources/icons.svg");
        background-repeat: no-repeat;
        background-size: 160px 20px;
        background-position: -40px 0px;
        margin: 10px;
      }
    }

    .searchButton {
      width: calc(100% - 40px);
      height: 46px;
      background-color: #fff;
      float: left;
      &::before {
        content: ' ';
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url("./resources/icons.svg");
        background-repeat: no-repeat;
        background-size: 160px 20px;
        background-position: 0px 0px;
        margin: 10px;
      }
      .searchPlaceholder {
        position: absolute;
        top: 13px;
        left: 46px;
        font-size: 16px;
        color: #aaa;
      }
    }
  }

  .currentLocation.side {
    position: absolute;
    bottom: 140px;
    right: 20px;
    width: 50px;
    height: 50px;
  }


  .icon-current-location {
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: url("./resources/locate-me.svg");
    background-size: 55px 55px;
    background-repeat: no-repeat;
  }

  .icon-hexagon {
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: url("./resources/hexagon.svg");
    background-size: 55px 55px;
    background-repeat:no-repeat;
  }

  #spinner {
    width:50px;
    height:50px;
    position:absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
  }

  input[type="search"] {
    border-radius: 0;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  input[type="search"]::-webkit-search-decoration::after {
    content: ' ';
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  input[type="search"]::-webkit-search-decoration {
    width: 20px;
    padding-right: 20px;
  }

  input[type="search"]::-webkit-search-cancel-button::after {
    font-family: ratchicons;
    color: #666;
    content: '\e811';
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: icon;
    appearance: icon;
    width: 15px;
    padding-left: 10px;
  }


  // big screen style
  @media screen and (min-width : $screen-sm) {
    &.default {
      .searchBoxContainer{
        position:absolute;
        top: 30px;
        left: 30px;
        width: 450px;
        background-color: #fff;
      }

      .routeButton {
        width: 46px;
        height: 46px;
        background-color:#fff;
        border: 0;
        display: inline-block;
        float: left;
        &::before {
          content: ' ';
          width: 26px;
          height: 26px;
          display: inline-block;
          background-image: url("./resources/icons.svg");
          background-repeat: no-repeat;
          background-size: 208px 26px;
          background-position: -52px 0px;
          margin: 10px;
        }
      }

      .searchButton {
        width: calc(100% - 46px);
        height: 46px;
        background-color: #fff;
        float: left;
        &::before {
          content: ' ';
          width: 24px;
          height: 24px;
          display: inline-block;
          background-image: url("./resources/icons.svg");
          background-repeat: no-repeat;
          background-size: 192px 24px;
          background-position: 0px 0px;
          margin: 10px;
        }
      }
    }
  }
}