@import 'route';
@import 'search';
@import 'locationInfo';

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;

  #map {
    width: 100%;
    height: 100%;
  }

  &.default {

    .searchBoxContainer{
      position:absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      background-color: #fff;
    }

    .routeButton {
      width: 40px;
      height: 40px;
      background-color:#fff;
      border: 0;
      display: inline-block;
      float: left;
      &::before {
        content: ' ';
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url("./resources/icons.png");
        background-repeat: no-repeat;
        background-size: 160px 20px;
        background-position: -40px 0px;
        margin: 10px;
      }
    }

    .searchButton {
      width: calc(100% - 40px);
      height: 40px;
      background-color: #fff;
      float: left;
      &::before {
        content: ' ';
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url("./resources/icons.png");
        background-repeat: no-repeat;
        background-size: 160px 20px;
        background-position: 0px 0px;
        margin: 10px;
      }
    }
  }

  .currentLocation.side {
    position: absolute;
    bottom: 140px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #ddd;
    -webkit-clip-path: polygon(
      50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
    );
    clip-path: polygon(
      50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
    );
  }

  .currentLocation.side:before{
    content: "";
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    -webkit-clip-path: polygon(
      50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
    );
    clip-path: polygon(
      50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
    );
  }

  .icon-current-location {
    position: absolute;
    width:48px;
    height:48px;
    background-image: url("./resources/icons.svg");
    background-size: 280px 35px;
    background-position: -100px 8px;
    background-repeat:no-repeat;
  }

  #spinner {
    width:50px;
    height:50px;
    position:absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
  }

  input[type="search"] {
    border-radius: 0;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  input[type="search"]::-webkit-search-decoration::after {
    content: ' ';
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  input[type="search"]::-webkit-search-decoration {
    width: 20px;
    padding-right: 20px;
  }

  input[type="search"]::-webkit-search-cancel-button::after {
    font-family: ratchicons;
    color: #666;
    content: '\e811';
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: icon;
    appearance: icon;
    width: 15px;
    padding-left: 10px;
  }
}