html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

#mapContainer {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

#spinner {
  width:50px;
  height:50px;
  position:absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}

.searchBoxContainer {
  position:absolute;
  top: 0px;
  left: 10px;
  width: calc(100% - 20px);
  margin:10px 0px;
  height: 60px;
  z-index:30;
}

.searchBox{
  z-index:100;
}

.table-view.search-table{
  margin-bottom: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  z-index:35;
}

.table-view.search-table li{
  background-color: #fff;
  font-size:13px;
  z-index: 50;
  cursor: pointer;
  border-bottom:1px solid #ddd;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
}
.table-view.search-table li:hover{
  background-color: #ddd;
}
.table-view.search-table li:first-child{
  border-top:1px solid #ddd;
}

input[type="search"]{
  border-radius: 0;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  margin-bottom:0;
}

input[type="search"]::-webkit-search-decoration::after{
  font-family:ratchicons;
  color:#666;
  content: '\e819';
}

input[type="search"]::-webkit-search-decoration{
  width:15px;
  padding-right:10px;
}

input[type="search"]::-webkit-search-cancel-button::after{
  font-family:ratchicons;
  color:#666;
  content: '\e811';
}

input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: icon;
  appearance: icon;
  width:15px;
  padding-left:10px;
}

.sideBtn{
  position:fixed;
  top: 70%;
  right: 15px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 3px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  border: 3px solid #ddd;
  
  z-index: 30;
}

.sideBtn.secondary{
  top: calc(70% + 70px);
}

.icon-current-location{
  width:50px;
  height:50px;
  background-image: url("./resources/current-location.png");
  background-size: 70% 70%;
  background-position:10px 10px;
  background-repeat:no-repeat;
}
.route-icon{
  width:50px;
  height:50px;
  background-image: url("./resources/route-icon.png");
  background-size: 70% 70%;
  background-position:10px 10px;
  background-repeat:no-repeat;
}

#routeControls{
  position:absolute;
  top:10px;
}

.routeBtnGroup{
  position:absolute;
  top:80px;
  height:46px;
  z-index:10;
  width:calc(100% - 20px);
  margin:0 10px;
  cursor: pointer;
}

#autoRoute{
  background-image:url("./resources/modes.icons.svg");
  background-size:108px 36px;
  background-position:0px 0px;
  width:36px;
  height:36px;
  margin:0 auto;
  background-repeat: no-repeat;
}

#bikeRoute{
  background-image:url("./resources/modes.icons.svg");
  background-size:108px 36px;
  background-position:-36px 0px;
  width:36px;
  height:36px;
  margin:0 auto;
  background-repeat: no-repeat;
}

#walkRoute{
  background-image:url("./resources/modes.icons.svg");
  background-size:108px 36px;
  background-position:-72px 0px;
  width:36px;
  height:36px;
  margin:0 auto;
  background-repeat: no-repeat;
}

.route-table{
  z-index:3000;
  height:100%;
  width: calc(100% - 20px);
  margin: 0 10px;
  font-size:13px;
}

.route-table.opened{
  position:absolute;
  top:130px;
}

.route-table.closed{
  position:absolute;
  cursor:pointer;
  background-color:#fff;
  top: 95%;
}

.open-route-table{
  text-align: center;
  height:30px;
}

.trip-summary{
  left-padding: 10px;
}