$search-bar-height: 40px;
$route-btn-height: 48px;

.searchBoxContainer.route {
  
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  
  .swapPoints {
    width: 20px;
    height: 20px;
    float: left;
    margin: 30px 10px;
    background-image: url('./resources/ic_switch.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .searchBox {
    position: absolute;
    width: calc( 100% - 80px);
    top: 5px;
    border: 0;
    &.startPoint::-webkit-search-decoration::after {
      background-image: url("./resources/ic_locate-dot.svg");
      background-size: 20px 20px;
      background-position: 0px 0px;
    }
    
    &.destPoint {
      top: $search-bar-height;
        &::-webkit-search-decoration::after {
        background-image: url("./resources/ic_pin.svg");
        background-size: 20px 20px;
        background-position: 0px 0px;
      }
    }
  }

  #routeCancelButton {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff;
    margin: 30px 10px;
  }

  .routeCancelButton {
    background-image: url("./resources/icons.svg");
    background-repeat: no-repeat;
    background-size: 160px 20px;
    background-position: -100px 0px;

  }

  .table-view.search-table {
  position: absolute;
  top: $search-bar-height * 2;
  margin-bottom: 0px;
  width: 100%;
  border-bottom-width: 0px;
  border-top-width: 0px;
  z-index:35;

  li {
    background-color: #fff;
    font-size:13px;
    z-index: 50;
    cursor: pointer;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 0;
    padding-left: 10px;

      &:hover {
        background-color: #ddd;
      }
      &::before {
        content: ' ';
        width: 10px;
        height: 10px;
        display: inline-block;
        background-image: url("./resources/icons.svg");
        background-repeat: no-repeat;
        background-size: 80px 10px;
        margin-right:10px;
      }
      &.currentLocation::before {
        background-position: -30px 0px;
      }
      &.search-result::before {
        background-position: -60px 0px;
      }
    }
  }
    //big screen style
  @media screen and (min-width : $screen-sm) {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 450px;
  }
}

.routeBtnGroup {
  position:absolute;
  top: $search-bar-height*2;
  height:46px;
  z-index:10;
  width:100%;
  cursor: pointer;
  border-left: 0;
  border-right: 0;
  .routeModeButton {
    width:36px;
    height:36px;
    background-image:url("./resources/modes.icons.svg");
    background-size:108px 36px;
    background-repeat: no-repeat;
    margin:0 auto;
    &#autoRoute { background-position:0px 0px; }
    &#bikeRoute { background-position:-36px 0px; }
    &#walkRoute { background-position:-72px 0px; }
    &::before{ background-image: none;}
  }
  @media screen and (min-width : $screen-sm) {
    top: $search-bar-height*2 + 30px;
    left: 30px;
    width: 450px;
  }
}


.route-table {
  height: calc( 100% - ( $route-btn-height + $search-bar-height * 2 ) );
  width: 100%;
  font-size:13px;
  overflow: auto;
  z-index: 3000;

  .distance {
    font-weight: bold;
    font-size: 15px;
  }
  .time {
    font-size: 15px;
  }
  .open-route-table {
    float: right;
  }

  &.opened {
    position: absolute;
    cursor:pointer;
    top: $route-btn-height + $search-bar-height * 2;
  }

  &.closed {
    position:absolute;
    cursor:pointer;
    top: calc( 100% - 150px);
  }

  .trip-summary {
    left-padding: 10px;
  }

  #routeControls {
    position:absolute;
    top:10px;
  }

  .route-icon {
    -webkit-background-size: 576 16px;
    background-size: 576px 16px;
    background-repeat: no-repeat;
    background-image: url("./resources/routing-icons.png");
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 16px;
    margin-right: 5px;
    &.kStart { background-position: 0 0; }
    &.kStartRight { background-position: -18px 0; }
    &.kStartLeft { background-position: -36px 0; }
    &.kDestination { background-position: -54px 0; }
    &.kDestinationRight { background-position: -72px 0; }
    &.kDestinationLeft { background-position: -90px 0; }
    &.kBecomes { background-position: -108px 0; }
    &.kContinue { background-position: -126px 0; }
    &.kSlightRight { background-position: -144px 0; }
    &.kRight { background-position: -162px 0; }
    &.kSharpRight { background-position: -180px 0; }
    &.kUturnRight { background-position: -198px 0; }
    &.kUturnLeft { background-position: -216px 0; }
    &.kSharpLeft { background-position: -234px 0; }
    &.kLeft { background-position: -252px 0; }
    &.kSlightLeft { background-position: -270px 0; }
    &.kRampStraight { background-position: -288px 0; }
    &.kRampRight { background-position: -306px 0; }
    &.kRampLeft { background-position: -324px 0; }
    &.kExitRight { background-position: -342px 0; }
    &.kExitLeft { background-position: -360px 0; }
    &.kStayStraight { background-position: -378px 0; }
    &.kStayRight { background-position: -396px 0; }
    &.kStayLeft { background-position: -414px 0; }
    &.kMerge { background-position: -432px 0; }
    &.kRoundaboutEnter { background-position: -450px 0; }
    &.kRoundaboutExit { background-position: -504px 0; }
    &.kFerryEnter { background-position: -540px 0; }
    &.kFerryExit { background-position: -558px 0; }
  }

  @media screen and (min-width : $screen-sm) {
    width: 450px;
    left: 30px;
    max-height: 50%;
    &.closed {
      position: absolute;
      cursor:pointer;
      top: $route-btn-height + $search-bar-height*2 + 30px;
    }
  }
}
