$search-bar-height:40px;

.searchBoxContainer.search {

  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;

  input[type="search"].searchBox {
    width: calc(100% - 40px);
    height: 40px;
    float: left;
    border: 0;

    &::-webkit-search-decoration::after {
      content: ' ';
      width: 0px;
      height: 0px;
      display: inline-block;
      background-image: none;
      margin: 0px 0px;
    }

    &::-webkit-search-decoration {
      display:none;
    }

    &.startPoint {
      width: calc(100% - 80px);
      position: absolute;
      top: 0px;
    }

    &.startPoint::-webkit-search-decoration::after {
      background-image: url("./resources/ic_locate-dot.svg");
      background-size: 20px 20px;
      background-position: 0px 0px;
    }

    &.destPoint {
      width: calc(100% - 80px);
      position: absolute;
      top: $search-bar-height;
    }

    &.destPoint::-webkit-search-decoration::after {
      background-image: url("./resources/ic_pin.svg");
      background-size: 20px 20px;
      background-position: 0px 0px;
    }
  }

    .cancelButton {
    width: 40px;
    height: 40px;
    background-color:#fff;
    border: 0;
    display: inline-block;
    float: left;
    &::before {
      content: ' ';
      width: 20px;
      height: 20px;
      display: inline-block;
      background-image: url("./resources/ic_back.svg");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 0px 0px;
      margin: 10px;
    }
  }

  .table-view.search-table {
    margin-bottom: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    z-index:35;

    li {
      background-color: #fff;
      font-size:13px;
      z-index: 50;
      cursor: pointer;
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 0;
      padding-left:10px;
      &:hover {
        background-color: #ddd;
      }
      &::before {
        content: ' ';
        width: 10px;
        height: 10px;
        display: inline-block;
        background-image: url("./resources/icons.svg");
        background-repeat: no-repeat;
        background-size: 80px 10px;
        margin-right:10px;
      }
      &.search-result::before {
        background-position: -60px 0px;
      }
      &.search-term-result::before {
        background-position: -70px 0px;
      }
    }
  }
}
