.mz-geolocator-icon {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2215.991%22%20viewBox%3D%220%200%2016%2015.991%22%3E%3Cpath%20fill%3D%22%23454545%22%20d%3D%22M5.962%2010.098l2.68%205.397%206.857-15-15%207.197%205.462%202.406zm.16-.583L1.934%207.672l11.498-5.52L6.12%209.514z%22%2F%3E%3C%2Fsvg%3E);
}

.leaflet-control-locate:hover .mz-geolocator-icon:not(.mz-geolocator-active) {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2215.991%22%20viewBox%3D%220%200%2016%2015.991%22%3E%3Cpath%20fill%3D%22%23D4645C%22%20d%3D%22M5.962%2010.098l2.682%205.397%206.856-15L.5%207.69%205.962%2010.1zm.162-.584l-4.19-1.842L13.437%202.15%206.124%209.514z%22%2F%3E%3C%2Fsvg%3E);
}