@import 'node_modules/leaflet-geocoder-mapzen/dist/leaflet-geocoder-mapzen';
@import 'node_modules/mapzen-scarab/src/components/bug/bug';
@import 'node_modules/mapzen-scarab/src/components/geolocator/geolocator';

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}